<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Employee</title>
  <base href="/">

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  
  <table  style='margin:1em auto;'>
      <thead>
        <tr>
        <th colspan="2" >Developers Details</th>
        </tr>
      </thead>
      <tr>
          <td>First Name</td>
          <!--data binding exeprerssion or template expration-->
          <td>{{firstname}}</td>
     </tr>
     <tr>
          <td>Last Name</td>
          <td>{{lastname}}</td>
     </tr>
     <tr>
          <td>Contact</td>
          <td>{{contact}}</td>
     </tr>
  </table>


</body>
</html>
